@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product</h6>
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Yarat</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CoverImage</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quentity</th>
                        <th>Discount</th>
                        <th>SalePrice</th>
                        <th>CostPrice</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><img src="~/imgs/products/@item.CoverImage" width="70" /></td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Discount</td>
                            <td>@item.SalePrice</td>
                            <td>@item.CostPrice</td>
                            <td><a class="btn btn-success" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Dəyiş</a></td>
                            <td><a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Sil</a></td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



